#footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1c1c1c;
    color: #e0e0e0;
}

#add-task-button, #export-tasks-button {
    background-color: #007acc;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-task-button:hover, #export-tasks-button:hover {
    background-color: #005f99;
}